# Produccion (frontend consumiendo backend por IP Tailscale)
VITE_API_URL=http://100.65.1.78:8000/api

# Desarrollo local alternativo:
# VITE_API_URL=http://127.0.0.1:8000/api
VITE_APP_NAME="Laravel React App"